/*CSS*/

body {
  background: rgb(255, 0, 191);
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  line-height: 1.5;
  font-size: 20px;
  color: rgb(15, 14, 14);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

h1,
h2,
h3 {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.name {
  text-overflow: ellipsis;
  max-width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 640px;
  min-height: 100%;
}

.wrapper {
  flex-direction: column;
  display: flex;
}

.content {
  background: #fff;
  border: 2px dotted rgb(221, 221, 221);
  flex-grow: 2;
  flex: 0 0 200px;
  padding: 10px;
  overflow-wrap: break-word;
}

.header {
  background: rgb(255, 0, 191);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 8px 16px;
  border-radius: 4px;
}

.button {
  background-color: #ffc477;
  border: 2px solid #ca8611;
  border-radius: 11px;
  display: inline-block;
  cursor: pointer;
  font-family: Verdana;
  font-size: 14px;
}

.button:hover {
  border: 1px solid rgb(49, 46, 216);
  background-color: rgb(225, 65, 177);
}

textarea {
  display: block;
  box-shadow: 5px 1px rgb(255, 0, 191);
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 5px;
  width: 400%;
}

label {
  display: block;
  margin: 5px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
  margin-left: left;
  padding: 8px 16px;
  border: none;
  background: rgb(0, 0, 0);
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
.flex-inner li {
  width: 75px;
}

.flex-inner {
  justify-content: space-between;
}